<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
            <!-- סרגל עליון -->
            <nav class="navbar navbar-expand-sm bg-light navbar-primary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">
                  <img src="/images/logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
                </a>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav" id="right">
                    <li class="nav-item">
                      <a class="nav-link" href="/Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/WishList"><span class="glyphicon glyphicon-heart"></span></a>                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/search"><span class="glyphicon glyphicon-search"></span></a>
                    </li> 
              
  
                  </ul>
                  <ul class="navbar-nav" id="mid">
                    <li class="nav-item">
                      <a class="nav-link" href="/allproducts">All Products</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-item" href="/surfboard">Surfboards</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/clothing">Clothing</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/boardshorts">Boardshorts</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/surfingequipment">Surfing accessories </a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/sunglasses">Sunglasses</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/beach">Beachproducts</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="/outofstock">Out of stock</a>
                    </li> 
                  </ul>
                  <ul class="navbar-nav" id="left">
                    <li class="nav-item">
                      <a class="nav-link" href="/myorders">My orders</a>
                    </li> 
                    </ul>
                </div>
              </div>
            </nav>
<!-- סל קניות -->
            <h1 class="headline">My Cart</h1>

            

            <% if (cartItems.length === 0) { %>
              <h4 id="empty">The Cart is Empty</h4>
              <h4 id="empty">If you have orders , go to My Orders page</h4>
            <% } else { %>
              <form  id="cart" action="/Cart" method="post">
            <div class="table-responsive-lg">
              <table class="table">

                <thead>
                <tr>
                  <th class="column-width">Product name</th>
                  <th class="column-width">Brand</th>
                  <th class="column-width">Price</th>
                  <th class="column-width">Category</th>
                  <th class="column-width">Quantity</th>
                  <th class="column-width">img</th>
                  <th class="column-width">Total price</th>
                  <th class="column-width">Actions</th>

                </tr>
            </thead>
            <tbody>
              <% let totalPrice = 0; %>
              <% cartItems.forEach(function(item) { %>
                <% const product = products.find(prod => prod['name of product'] === item.name); %>
                <% if (product) { %>
                  <tr>
                    <td class="column-width"><%= product['name of product'] %></td>
                    <td class="column-width"><%= product.brand %></td>
                    <td class="column-width"><%= product.price %></td>
                    <td class="column-width"><%= product.category %></td>
                    <td class="column-width">
                      <form id="quantity-form" action="/Cart/Quantity" method="post">
                        <input type="hidden" name="itemName2" value="<%= product['name of product'] %>">
                        <div class="quantity-select">
                          <select name="quantity-<%= product['name of product'] %>">
                            <% for (let i = 1; i <= product.quantity; i++) { %>
                              <option value="<%= i %>" <% if (parseInt(item.quantity) === i) { %> selected <% } %>><%= i %></option>
                            <% } %>
                          </select>
                          <button type="submit" class="delete-button" name="action" value="Q">Change Quantity</button>
                        </div>
                      </form>
                    </td>
                    <td class="column-width"><img class="card-img-top" style="width:50px" height="50px" src="<%= product.picture %>" alt="<%= product['name of product'] %> Image" /></td>
                    <td><%= product.price * item.quantity %></td>
                    <%  totalPrice +=(product.price * item.quantity); %>
                    <td>
                      <form action="/Cart/delete" method="post">
                        <input type="hidden" name="itemName" value="<%= product['name of product'] %>">
                        <button type="submit" class="delete-button" name="action" value="delete">Delete</button>
                      </form>
                    </td>
                  </tr>
                <% } %>
              <% }); %>
              
                </tbody>
            </table>
            <p>The total price is -<%= totalPrice%> $</p>
            <button type="submit" name="action" value="buy" class="delete-button" name="action" value="Clear">Buy</button>      
            </div>
          </form>
          <%}%>            

 <!-- פוטר -->
 <footer>
  <p>Author: Ori Daniel, Gal Levi, Eden Tassa, Nofar 
      Mahani<br>
              <a href="surf4u@colman.com">surf4u@gmail.com</a></p>
          <p class="links">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6721511519377!2d34.77358836137001!3d31.96978982491136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b30236ef5d51%3A0x6c10ba446a77cd0c!2z15TXnteb15zXnNeUINec157XoNeU15wg16jXkNep15XXnyDXnNem15nXldef!5e0!3m2!1siw!2sil!4v1687190519701!5m2!1siw!2sil" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <img src="../images/logo.png" class="rounded-circle" alt="Cinque Terre" style="height: 100px;width: 100px;"> 
            <a href="https://www.facebook.com/pages/Surf4you/211400888937187"><img src="../images/facebook.png" height="50px" width="200px"></a>
          </p>
              
</footer>
<!-- <script>
  function submitForm() {
    var form = document.getElementById("quantity-form");
    form.submit();
  }
</script> -->






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>