<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Clothing</title>
    <style>
      .product {
        border: 1px solid lightblue;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        width: 22%;
        display: inline-block;
        vertical-align: top;
      }

      .product-image {
        max-width: 200px;
        max-height: 200px;
      }

      .product-name {
        font-size: 16px;
        margin-top: 5px;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
      }

      .button {
        background-color: lightblue;
        padding: 10px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        margin-top: 10px;
        display: block;
        width: 48%;
        text-align: center;
      }

      .product-description {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Surfing Equipment</h1>
    <form action="/surfingequipment" method="post">
      <div class="sorting-container">
        <label for="sorting">Sort By:</label>
        <select id="sorting" name="sorting">
          <option value="product-name">Name</option>
          <option value="product-price">Price</option>
          <option value="product-brand">Brand</option>
        </select>
      </div>
      <button type="submit">Click to sort</button>
    </form>
    <div class="product-container">
      <% products.forEach(function(product) { %>
        <div class="product">
          <h2 class="product-name"><%= product["name of product"] %></h2>
          <p>Price: $<%= product.price %></p>
          <p>Quantity: <%= product.quantity %></p>
          <h3>Product Image</h3>
          <% if (product.picture) { %>
            <img class="product-image" src="<%= product.picture %>" alt="<%= product["name of product"] %> Image" />
          <% } else { %>
            <p>No image available</p>
          <% } %>
          <p class="product-description"><%= product.description %></p>
          <div class="button-container">
            <a class="button" href="#">Add to Wish List</a>
            <a class="button" href="#">Add to Cart</a>
            <a class="button" href="/show1product/<%= product['name of product'] %>">Product page</a>

          </div>
        </div>
      <% }); %>
    </div>
