<!DOCTYPE html>
<html>
<head>
  <title>update Product</title>
</head>
<body>
  <h1>Update <%= product["name of product"] %></h1>
  <form action="/updateproducts/<%= product['name of product'] %>" method="POST">

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= product.price %>" required><br><br>

    <label for="picture">Picture:</label>
    <div>
      <img id="productImage" src="<%= product.picture %>" alt="Product Image">
    </div>
    <label for="pictureLink">Image Link:</label>
    <input type="text" id="pictureLink" name="pictureLink" value="<%= product.picture %>" required>
    <button type="button" onclick="updateImage()">Change Image</button><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= product.description %></textarea><br><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required><br><br>

    <input type="submit" value="Update Product">
  </form>

  <script>
    function updateImage() {
      const imageLink = document.getElementById("pictureLink").value;
      const productImage = document.getElementById("productImage");
      productImage.src = imageLink;
    }
  </script>
</body>


</html>